.loader {
    border: 8px solid #5964E0;
    border-bottom-color: transparent;
    border-radius: 50px;
    height: 0;
    width: 0;
    padding: 20px;
    margin: auto;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    from {
        rotate: 0;
    }

    to {
        rotate: 360deg;
    }
}